body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'PT Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: white;
  color: #1D211C;
  background-color: #f0f0f0;
}

.header {
  background-size: cover;
  color: black;
  text-align: center;
  padding: 150px 0; 
  background-image: url('presse.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px; 
  font-weight: bold; 
  letter-spacing: 2px; 
}

#selection-pays {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.scrolling-wrapper{
	overflow-x: auto;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}
u{
  font-weight: bold;
  font-style: italic;
}
p{
  font-size: 20px;
  font-weight: 600;
}

img {
  width: 50px; /* Largeur fixe de l'image */
  height: 50px; /* Hauteur fixe de l'image */
}

footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  position: relative;
  margin-top: 300px;
  width: 100%;
}

